:root {
    --vinotinto: #76232F;
    --vinotintodark: #5f1c26;
    --verdeNavidad: #006241;
    --verdedark: #004e34;
    --rosa: #F0D0CB;
    --rosadark: rgb(224, 191, 187);
    --mora: #B37697;
    --rojo: #DC0032;
    --rojodark: #be002c; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
li{
  list-style: none;
}
h4 {
  font-weight: 400;
  color: gray;
}

header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 40px 30px;
    margin-top: 10px;
    width: 100%;
    height:50px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 5px 4px -3px rgba(124, 124, 124, 0.75);
    -moz-box-shadow: 0px 5px 4px -3pxrgba(124, 124, 124, 0.75);;
    box-shadow: 0px 5px 4px -3px rgba(124, 124, 124, 0.75);;
    
}
header .logo {
    width: 50px;
}
.nav_header{
    position: absolute;
    left:0;
    top:0;
    width: 80.5%;
    margin-top: 36px;
    padding-top: 30px;
    padding-left: 20px;
    top:50px;
    height:calc(100vh - 50px);
    background-color: white;
    transform:translateX(-100%);
    transition:.2s ease;
  }
  label i.bi {
    font-size: 30px;
  }
  .navigation li{
    list-style:none;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.5);
  }
  
  .navigation a{
    display: block;
    color: black;
    line-height:3.5;
    padding: 0 10px;
    text-decoration:none;
    transition:.4s ease;
    font-size: 18px;
    color: rgb(116, 116, 116);
  }
  .navigation .sign a:first-child:hover {
    background-color: rgb(221, 218, 218);
    color: black;
  }
  .navigation .sign a:nth-child(2):hover {
    background-color: rgb(71, 71, 71);
    color: white;
  }
  .navigation li:nth-child(4) a:hover{
    color: #006241;
    
  }
  .navigation .sign {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: 20px 0;
    gap: 10px;
    width: 330px;
    border-top: 1px solid rgba(197, 193, 193, 0.5);
    
  }
  .navigation .sign a {
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: center;
    border-radius: 50px;
    border: 1px black solid;
    width: 100px;
    height: 30px;
  }

  .navigation .sign a:nth-child(2) {
    background-color: black;
    color: white;
   
  }
  #btn-nav{
    display: none;
  }
  #btn-nav:checked ~ .nav_header{
    transform:translateX(30%);
  }  
  .btn-nav{
    font-size:30px;
    position: absolute;
    left: 90%;    
    cursor:pointer;
    transition:.2s ease;
    background-color: white;
  }
  
  .btn-nav:hover{
    background-color: white;
  }
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
h3{
  font-size: 30px;
  font-weight: 400;
}
.contenedor {
  margin-bottom: 30px;
}
  
.contenedor img{
  width: 100%;  
}

.contenedor_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--vinotinto);
  margin-top: -5px;
  padding: 50px;
  gap: 20px;
  color: white;  
}
.contenedor_txt p {
  display: flex;
  font-size: 21px;
  line-height: 1.5; 
  width: 100%; 
  text-align: center; 

}
.contenedor_txt a{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 50px;
}
.cont1 a:hover {
  background-color: var(--vinotintodark);
}
.cont2 .contenedor_txt{
  background-color: var(--verdeNavidad);
}
.cont2 a:hover, .cont4 a:hover, .cont5 a:hover {
  background-color: var(--verdedark);
}
.cont3, .cont3 .contenedor_txt {
  background-color: var(--rosa);
  color: rgb(73, 73, 73);
 }
 .cont3 a {
  color: rgb(73, 73, 73);
  border-color: rgb(73, 73, 73);
 }
 .cont3 a:hover {
  background-color: var(--rosadark);
 }
 .cont4  {
  background-color: var(--mora);
 }
 .cont4 .contenedor_txt, .cont5 .contenedor_txt {
  background-color: var(--verdeNavidad);
 }
.cont6, .cont6 .contenedor_txt {
  background-color: var(--rojo);
}
.cont6 a:hover{
  background-color: var(--rojodark) ;
}

.politicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 50px 0;
  border-bottom: 2px solid rgba(197, 193, 193, 0.5);

}
.politicas p{
  font-size: 14px;
  padding: 0 30px;
  text-align: center;
}
.politicas a{
  color: black;
}
footer {
  display: flex;
  flex-direction: column;
  height: 500px;
}
footer .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;  
  margin-bottom: 20px;
  margin-top: 20px;
}


.nav_header_footer1, .nav_header_footer2, .nav_header_footer3, .nav_header_footer4,
.nav_header_footer5{  
  display: none;
}
footer label i.bi {
  font-size: 20px;  
} 

.navigation_footer1 a, .navigation_footer2 a, .navigation_footer3 a, .navigation_footer4 a,
.navigation_footer5 a{
  color: rgb(190, 190, 190);
  line-height:2.3;  
  text-decoration:none;  
}

#btn-nav_footer1, #btn-nav_footer2, #btn-nav_footer3,
#btn-nav_footer4, #btn-nav_footer5{
  display: none;  
}
#btn-nav_footer1:checked ~ .nav_header_footer1, #btn-nav_footer2:checked ~ .nav_header_footer2,
#btn-nav_footer3:checked ~ .nav_header_footer3, #btn-nav_footer4:checked ~ .nav_header_footer4,
#btn-nav_footer5:checked ~ .nav_header_footer5{
  display: flex;
  align-items: center;  
  padding: 0px 20px;  
}

footer .footer_ultimo {
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgba(197, 193, 193, 0.5);
  padding-top: 20px;
  margin-top: 20px;
}
.footer_ultimo .social {
  display: flex;    
  gap: 10px;    
  margin-left: 15px;
}
footer .social a{
  color: black; 
  font-size: 30px;
  width: 45px; 
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;  
}
footer .social a:hover {
  background-color: rgb(221, 216, 216);  
  border-radius: 100%;
  transition: 0.5s;
}
footer .enlaces_footer {
  display: flex;
  flex-direction: column;
  margin: 30px 0 30px 20px;
  gap: 20px;
}
footer .enlaces_footer a{
  text-decoration: none;
  color: rgb(44, 44, 44);
  font-weight: 300;
  font-size: 14px;
}
footer .enlaces_footer a:hover {
  text-decoration: underline;
}
footer p{
  color: rgb(165, 163, 163);
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* ------------DESKTOP---------------------------- */
@media (min-width: 808px) {
  h3 {
    font-size: 50px;
  }
  nav, label {
    display: none;
  }
  header {
    width: 100%;
    height: 90px;
    padding-left: 40px;
  }
  .nav_header {
    position: none;
    display: flex;    
    transform: none;
    height: 50px;
    width: 500px;
    top: 0;
    left: 130px;
    margin: 0;
    padding: 0;
    gap: 0;
  }
  .navigation {
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-top: 50px;    
  }
  .navigation a {
    display: flex;
    width: 110px;
    line-height: 1.3;
    margin-right: -20px;
    font-weight: 700;
    color: black;
  }
  .navigation li {
    display: flex;
    justify-content: center;        
  }

  .navigation li.signn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 530px;
    order: 0;    
  }
  .navigation .signn a:nth-child(2){
    width: 150px;
  }
  .navigation .sign {
    border: none;
    width: 250px;
    order: 2;
  }

  .navigation .signn a{
    margin-right: 1px; 
    font-weight: 400;   
    color: black;
    order: 1;    
    width: 100px;
  }
  .navigation .sign a:nth-child(2){
    width: 100px;
  }

  .contenedor{
    display: grid;
    grid-template-columns: 50% 50%;
    order: 0;
  }
  .cont1 img, .cont3 img, .cont5 img {
    order: 2;
  }
  .contenedor_txt {
    margin-top: 0px;
  }
  .politicas {
    width: 100%;
    justify-content: center;   
    margin-top: 10px;
    padding-bottom: 50px;
    
  }
  .politicas p {
    font-size: 15px;
    width: 800px;
    line-height: 2;
  }
  
  .nav_header_footer1, .nav_header_footer2, .nav_header_footer3, .nav_header_footer4,
  .nav_header_footer5{  
  display: flex;
}

.menu_ultimo {
  display: flex;    
  border: none;
  margin: 0;
  gap: 30px;  
  padding-left: 50px;  
}
.menu_ultimo .menu {  
  display: flex;
  flex-direction: column;    
  width: 220px;
}
.menu_ultimo .head {
  border: none;
  margin-left: -20px;
}
.menu_ultimo h4 {
  color: rgb(48, 47, 47);
  font-weight: 400;
  font-size: 20px;
}
.menu_ultimo a {
  color: black;
  font-weight: 300;
}
.footer_ultimo {
  margin-left: 30px;
}
footer .enlaces_footer {
  flex-direction: row;
  gap: 30px;
  
}
footer .enlaces_footer a {
  font-size: 16px;
  color: rgb(97, 97, 97);
  font-weight: 400;
  border-right: 1px solid black;
  padding-right: 20px;
}
footer .enlaces_footer a:last-child {
  border: none;
}



    
}